/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
font-family: "Righteous";
src: url("../fonts/BalooChettan-Regular.ttf");
src: url("../fonts/BalooChettan-Regular.ttf");
}
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family:Arial, sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.padding_0{
     padding: 0px;
}

.header_section{
    width: 100%;
    float: left;
    /*background-image: url(../images/banner-bg.png);*/
    height: auto;
    background-size: 100%;
    margin: 0; /* Adjust as needed */
    padding: 0; /* Adjust as needed */
}
.bg-light {
    background-color: transparent !important;
}
.logo {
    width: 25%;
    float: left;
}
.navbar-light .navbar-nav .nav-link {
    color: #111111;
    font-size: 18px;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffb607;
}

.mr-auto, .mx-auto {
    margin: 0 auto;
}

.search_icon {
    width: auto;
    float: right;
    text-align: right;
}
.search_icon ul{
    margin: 0px;
    padding: 0px;
}
.search_icon li {
    float: left;
    padding-left: 20px;
    font-size: 18px;
    color: #000;
}
.search_icon li a{
    color: #000;
}
.search_icon li a:hover{
    color: #ffb607;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-item {
    position: relative;
}

.navbar-nav.mr-auto ul {
    margin: 0px;
    padding: 0px;
}

.mb-lg-0, .my-lg-0 {
    margin-bottom: 0!important;
}
.banner_section {
    width: 100%;
    float: left;
    padding: 90px 0px;
}
.banner {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.carousel {
    width: 100%;
    height: 80%;
}
.carousel-item img {
    width: 100%; /* adjust as needed */
    height: auto; /* adjust as needed */
}
.header_section {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFB607;
    z-index: 1000; /* This ensures the header stays on top of other elements */
}
.icon_1{
    width: 100%;
    float: left;
    text-align: center;
}
.furniture_text{
    width: 100%;
    float: left;
    font-size: 100px;
    color: #090808;
    text-align: center;
    text-transform: uppercase;
}
.there_text {
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    color: #090808;
    text-align: center;
}
.contact_bt_main{
    width: 17%;
    margin: 0 auto;
    text-align: center;
}
.contact_bt {
    width: 100%;
    float: left;
    margin-top: 360px;
}
.contact_bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #ffb607;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
}
.contact_bt a:hover{
    color: #ffffff;
    background-color: #000;
}

.fa-angle-right:before {
    content: "\f105";
}
.fa-angle-left:before {
    content: "\f105";
}
#costum_slider a.carousel-control-prev {
    position: absolute;
    left: -153px;
    top: 57%;
    background-color: #000;
    color: #ffffff;
    border-radius: 100px;
}

#costum_slider a.carousel-control-next {
    position: absolute;
    right: -150px;
    top: 57%;
}
#costum_slider .carousel-control-prev, #costum_slider .carousel-control-next {
    width: 85px;
    height: 85px;
    background: #000;
    opacity: 1;
    font-size: 30px;
    color: #fff;
    border-radius: 100px;
}
#costum_slider .carousel-control-prev:hover, #costum_slider .carousel-control-next:hover, #costum_slider .carousel-control-prev:focus, #costum_slider .carousel-control-next:focus {
    background: #f8ca12;
    color: #fff;
}

.services_section{
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.services_taital{
    width: 100%;
    float: left;
    font-size: 36px;
    color: #090808;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.many_taital{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #090808;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
}
.services_section2{
    width: 100%;
    float: left;
}
.furnitures_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #090808;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}
.dummy_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #090808;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
}

.read_bt_main{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.read_bt {
    width: 100%;
    float: left;
    margin-top: 10px;
}
.read_bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #ffb607;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
}
.read_bt a:hover{
    color: #ffffff;
    background-color: #000;
}
.about_section{
    width: 100%;
    float: left;
    background-image: url(../images/bg-1.png);
    background-color: #ffb607;
    height: auto;
    padding-bottom: 90px;
}
.image_1{
    width: 100%;
    float: left; 
}

.about_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    animation-delay: 0.5s; /* this means the animation will start 0.5 seconds after the page loads */
}
.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
    padding-top: 40px;
    animation-delay: 1s; /* this means the animation will start 1 second after the page loads */
}
.read_bt1 {
    width: 30%;
    float: left;
    margin-top: 70px;
    animation-delay: 1.5s;/* this means the animation will start 1.5 seconds after the page loads */
}
.read_bt1 a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #070201;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
}
.read_bt1 a:hover{
    color: #000;
    background-color: #ffffff;
}
.furnitures_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.our_text{
    width: 100%;
    float: left;
    font-size: 36px;
    color: #121111;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.ipsum_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #090808;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
}
.furnitures_section2{
    width: 100%;
    float: left;
}

.container_main {
  position: relative;
  width: 100%;
  max-width: 100%;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 22%;
    width: 15%;
    opacity: 0;
    transition: .3s ease;
    background-color: #fabc26;
    margin: 0 auto;
    border-radius: 100px;
    top: 130px;
}

.container_main:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}
.temper_text a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fabb25;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 35px;
}
.temper_text a:hover{
   color: red;
}
.dololr_text{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #121111;
    margin-top: 10px;
    margin-left: 0px;
    text-align: justify;
}
.who_section{
    width: 100%;
    float: left;
    background-image: url(../images/bg-1.png);
    height: auto;
    padding-bottom: 55px;
    background-size: 100%;
}
.who_taital{
    width: 100%;
    float: left;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
.designer_text{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.lorem_ipsum_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
}
.get_bt_main{
    width: 13%;
    margin: 0 auto;
    text-align: center;
}
.get_bt {
    width: 100%;
    float: left;
    margin-top: 70px;
}
.get_bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #070201;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
}
.get_bt a:hover{
    color: #000;
    background-color: #ffffff;
}
.projects_section{
    width: 100%;
    float: left;
}
.projects_section2{
    width: 100%;
    float: left;
    padding-top: 60px;
}

.container_main1 {
    /* position: relative; */
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99999;
}

.container_main1:hover .image {
  opacity: 0.3;
}

.container_main1:hover .middle {
  opacity: 1;
}

.text {
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #fff;
}
.container_main2 {
    width: 100%;
    float: left;
}
.container_main1::after {
    content: "";
    position: absolute;
    top: 0;
    width: 92%;
    height: 90%;
    background-color: rgb(255,182,7,.6);
    z-index: 11;
    display: none;
}
.container_main1:hover::after{
    display: block;
}
.modern_text {
    width: 100%;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    top: -50px;
    text-align: center;
    z-index: 22;
}
#main_slider a.carousel-control-prev {
    position: absolute;
    left: -94px;
    top: 57%;
    background-color: #000;
    color: #ffffff;
}

#main_slider a.carousel-control-next {
    position: absolute;
    right: -95px;
    top: 57%;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #000;
    opacity: 1;
    font-size: 30px;
    color: #fff;
}
#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    background: #f8ca12;
    color: #fff;
}
.clients_section {
    width: 100%;
    float: left;
    padding-top: 50px;
    padding-bottom: 90px;
}
.client_text{
    width: 100%;
    float: left;
    font-size: 36px;
    color: #121111;
    text-transform: uppercase;
    text-align: center;
}
.clients_section2{
    width: 100%;
    float: left;
    padding-top: 70px;
}
.client_1{
    width: 60%;
    float: left;
    border: 1px solid #000;
    padding: 17px 17px 0px 17px;
}
.image_7{
    width: 100%;
    float: left;
}
.quote_icon {
    width: 85%;
    float: left;
    text-align: center;
    position: absolute;
    bottom: 35px;
}

.loksans_text{
    width: 100%;
    float: left;
    font-size: 20px; 
    color: #191919;
    text-transform: uppercase;
}
.dolor_ipsum_text{
    width: 100%;
    float: left;
    font-size: 16px; 
    color: #191919;
    margin-left: 0px;
    margin-top: 0px;
}
.client_2 {
    width: 60%;
    float: right;
    border: 1px solid #000;
    padding: 17px 17px 0px 17px;
    margin-top: 30px;
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    background-color: #ffb607;
    border-radius: 20px;
}
.carousel-indicators .active {
    background-color: #111111;
}

.carousel-indicators {
    justify-content: left;
    margin-left: 0%;
    bottom: 50px;
}
.contact_section {
    width: 100%;
    float: left;
    /*background-image: url(../images/contact-bg.png);*/
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 90px;
}
.mail_sectin{
    width: 100%;
    float: left;
}
.contact_text{
    width: 100%;
    float: left;
    font-size: 36px;
    color: #000000;
    font-weight:bold;
}
.email-bt {
    color: #989696;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 20px;
    margin-top: 25px;
    border: 0px;
    border-radius: 5px;
}
input.email-bt::placeholder {
    color: #989696;
}
.massage-bt {
    color: #989696;
    width: 100%;
    height: 150px;
    font-size: 18px;
    padding: 50px 20px 10px 20px;
    margin-top: 25px;
    border: 0px;
    border-radius: 5px;
}
textarea#comment::placeholder {
    color: #989696;
}
.send_bt {
    width: 100%;
    float: left;
    margin-top: 50px;
}
.send_bt a{
    width: 30%;
    float: left;
    font-size: 20px;
    color: #989696;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 0px;
    font-weight: bold;
}
.send_bt a:hover{
    color: #989696;
    background-color: #ffffff;
}
.image_9 {
    width: 100%;
    float: left;
    padding-top: 83px;
}
.input-group {
    width: 45%;
    float: right;
}

.form-control {
    display: block;
    /* width: 100%; */
    padding: 0px 15px 10px 0px;
    font-size: 18px;
    /* line-height: 1.5; */
    color: #fff;
    background-color: transparent;
    /* background-clip: padding-box; */
    border-bottom: 1px solid #fff !important;
    border-radius: 0px;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
    border: 0px;
}
.input-group-text {
    padding: 0px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}
.input-group-text a{
    color: #ffffff;
}
.input-group>.custom-file, 
.input-group>.custom-select, 
.input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0px;
    background: transparent !important;
    border-bottom: 1px solid #ffff;
}
.footer_section{
    width: 100%;
    float: left;
    background-color: #313131;
    height: auto;
    padding-bottom: 90px;
}

.customer_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer_lorem_text{
    width: 80%;
    float: left;
    font-size: 16px;
    color: #fefefe;
    margin-left: 0px;
}
.footer_lorem_text1{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefe;
    margin-left: 0px;
}
.social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
.social_icon ul{
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}
.social_icon li{
    float: left;
    padding-right: 5px;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #000;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}
.copyright_text a{
    color: #000;
}
.copyright_text a:hover{
    color: #fdbe28;
}
ul {
    color: white;
}
ul.white-text {
    color: white;
}
li a {
    color: white;
    font-size: 15px; /* Adjust this value to the size you want */
}

/* Clearing floats */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
    margin: 0;
    padding: 0;
    list-style: none;

}

/* Main level */
.menu {
    margin: auto;
    width: 900px;
    /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
    width: -moz-fit-content;
    width: -webkit-fit-content;
    /*width: fit-content;*/

}

.menu > li {
    background: #34495e;
    float: left;
    position: relative;
    transform: skewX(25deg);
}

.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
}

.menu li:hover {
    background: #e74c3c;
}

.menu > li > a {
    transform: skewX(-25deg);
    padding: 1em 2em;
}

/* Dropdown */
.submenu {
    position: absolute;
    width: 200px;
    left: 50%; margin-left: -100px;
    transform: skewX(-25deg);
    transform-origin: left top;
}

.submenu li {
    background-color: #34495e;
    position: relative;
    overflow: hidden;
}

.submenu > li > a {
    padding: 1em 2em;
}

.submenu > li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}

/* Odd stuff */
.submenu > li:nth-child(odd){
    transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
    transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
    right: -50%;
    transform: skewX(-25deg) rotate(3deg);
}

/* Even stuff */
.submenu > li:nth-child(even){
    transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
    transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
    opacity: 0;
    visibility: hidden;
}

.submenu li {
    transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}

.menu > li:hover .submenu li:nth-child(even){
    transform: skewX(25deg) translateX(15px);
}

.menu > li:hover .submenu li:nth-child(odd){
    transform: skewX(-25deg) translateX(-15px);
}


/*whatsapp button*/
* {
    font-family: "Arial", sans-serif;
}

.whatsapp-fixed {
    position: fixed;
    bottom: 40px;
    right: 62px;
    z-index: 9;
}

.btn-whatsapp {
    background-color: #30bf39;
    color: #fff;
    border-radius: 100%;
    transition: background-color .5s;
    width: 60px!important;
    height: 60px!important;
    line-height: 70px;
    position: relative!important;
    display: block;
    transform: none!important;
    z-index: 9;
    text-align: center;
    box-shadow:
            0 1px 2px rgba(0,0,0,0.07),
            0 2px 4px rgba(0,0,0,0.07),
            0 4px 8px rgba(0,0,0,0.07),
            0 8px 16px rgba(0,0,0,0.07),
            0 16px 32px rgba(0,0,0,0.07),
            0 32px 64px rgba(0,0,0,0.07);
}

.btn-whatsapp:hover {
    background-color: #53ca5b;
}

.whatsapp-fixed a.video-vemo-icon.btn-whatsapp i {
    font-size: 32px;
    color: #fff;
    animation: sm-shake-animation linear 1.5s infinite;
    animation-delay: 3s;
}

.rs-video .animate-border .video-vemo-icon:before {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: zoomBig 3.25s linear infinite;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.rs-video .animate-border .video-vemo-icon:after {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    opacity: 0;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: zoomBig 3.25s linear infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.btn-whatsapp:after, .btn-whatsapp:before {
    border: 2px solid #30bf39 !important;
    width: 130px!important;
    height: 130px!important;
}

.sm-red-dot {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 12px; height: 12px;
    margin: 0 auto;
    background: red;
    transform: scale(0);
    border-radius: 50%;
    animation-name: notificationPoint;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

.quick-message {
    position: absolute;
    bottom: 4px;
    right: 88px;
    width: max-content;
    border-radius: 0;
    background: #393b39;
}

.line-up {
    opacity: 0;
    animation-name: anim-lineUp;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.quick-message p {
    line-height: 40px;
    font-size: 15px;
    padding: 4px 16px;
    height: 40px;
    position: relative;
    color: #fff;
    margin: 0;
}

.quick-message .seta-direita:before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #393b39;
    position: absolute;
    bottom: 3px;
    right: -30px;
}

#hover-message {
    display: none;
}

.whatsapp-fixed:hover #hover-message {
    display: block;
}

@keyframes zoomBig{
    0%{transform:translate(-50%,-50%) scale(.5);opacity:1;border-width:3px}
    40%{opacity:.5;border-width:2px}
    65%{border-width:1px}100%{transform:translate(-50%,-50%) scale(1);opacity:0;border-width:1px}}

@keyframes sm-shake-animation {
    0% {
        transform:rotate(0) scale(1) skew(0.017rad)
    }
    25% {
        transform:rotate(0) scale(1) skew(0.017rad)
    }
    35% {
        transform:rotate(-0.3rad) scale(1) skew(0.017rad)
    }
    45% {
        transform:rotate(0.3rad) scale(1) skew(0.017rad)
    }
    55% {
        transform:rotate(-0.3rad) scale(1) skew(0.017rad)
    }
    65% {
        transform:rotate(0.3rad) scale(1) skew(0.017rad)
    }
    75% {
        transform:rotate(0) scale(1) skew(0.017rad)
    }
    100% {
        transform:rotate(0) scale(1) skew(0.017rad)
    }
}

@keyframes notificationPoint {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@keyframes anim-lineUp {
    from {
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
/*TAN SLA STA */

/*multiple partner*/

.icon_1 img {
    border-radius: 50px / 50px;
}
/*slider aninmation image */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.image_1 img {
    animation: slideDown 7s ease-out;
}

.about_text, .lorem_text, .read_bt1 {
    animation-name: slideInFromLeft;
    animation-duration: 2s; /* adjust this to make the animation faster or slower */
    animation-fill-mode: both; /* this makes sure the animation stays at the final state when it's done */
}
/*logo partner*/
.partner-logo {
    width: 100px;
    margin: 30px;
}

/*section galleries*/
.img-fluid, .small-galleries video {
    width: 550px;
    height: 240px;
    object-fit: cover;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.custom-navbar {
    background-color: rgba(255, 255, 255, 0.5) !important; /* 50% transparent white */
}

.custom-navbar .nav-link {
    color: rgba(0, 0, 0, 0.5) !important; /* 50% transparent black */
}

.custom-navbar .navbar-brand {
    color: rgba(0, 0, 0, 0.5) !important; /* 50% transparent black */
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; /* 50% transparent SVG */
}
.custom-navbar .nav-link {
    color: black !important;
}

.custom-navbar .navbar-brand {
    color: black !important;
}
.custom-navbar.scrolled {
    background-color: white !important;
}
.stylish-heading {
    color: #3498db; /* Warna teks */
    font-size: 28px; /* Ukuran teks */
    font-family: 'Arial', sans-serif; /* Jenis font */
    padding-top: 20px; /* Jarak atas */
}

.hover-effect {
    transition: transform 0.5s ease-in-out; /* Durasi dan jenis transisi */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Shadow tipis */
}

.hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow lebih tebal saat hover */
}
.email-bt, .massage-bt {
    border: 1px solid #000; /* Change #000 to any color you want */
}